[submodule "backend"]
	path = backend
	url = https://github.com/ighour/games-store-be
	branch = master
[submodule "frontend"]
	path = frontend
	url = https://github.com/ighour/games-store-fe
	branch = master
